body {
    margin: 0;
    font-family: Arial;
    background: #9bbf9e;
}

.titulo {
    background: white;
    padding: 15px;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tarjeta {
    width: 280px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    padding-bottom: 20px;
}

.imagen {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.curva {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 200%;
    height: 120px;
    background: white;
    border-radius: 50%;
}

.tarjeta h2 {
    text-align: left;
    margin: 20px 15px 0;
    font-size: 20px;
    color: #0b2740;
    font-weight: bold;
}

.rol {
    text-align: left;
    margin: 5px 15px;
    font-size: 14px;
    color: rgb(206, 45, 45);
    font-weight: bold;
}

.texto {
    text-align: left;
    margin: 10px 15px;
    font-size: 14px;
    color: #444;
}

.sociales {
    margin-left: 15px;
    margin-top: 10px;
}

.sociales a {
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;
    color: #0b2740;
}